COMPOSE_PROJECT_NAME=znnd-devnet
DEVNET_PILLAR_HTTP_PORT=35991
DEVNET_HTTP_PORT=35997
DEVNET_WS_PORT=35998
DEVNET_EXPLORER_PORT=35999
EXPLORER_DEFAULT_ENDPOINT=http://localhost:35997
DEVNET_NODE_IMAGE=go-zenon-devnet:latest
DEVNET_EXPLORER_IMAGE=go-zenon-devnet-explorer:latest
